h1 {margin: 2em;}
.pswp__caption__center {text-align: center;}
// figure {
//   display: inline-block;
//   width: 33.333%;
//   float: left;
// }
img {width: 100%;}
.spacer {height: 5em;}

.gallery {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-between;

  // flex: 1 0 300px; /* explanation below */
  // margin: 5px;
  // height: 300px;
}

figure {
  flex: 1 0 260px;
  margin: 20px 10px;
  max-width: 20%;
  float: left;
  min-height: 220px;
  a img{
    width: 100%;
    height: auto;
    display: block;
  }
  a img:hover{
    cursor: pointer;;
  }
}
.pswp--open {
  color: #ffffff;
}
.pswp--animate_opacity,
.pswp__bg,
.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right{
  -webkit-transition: opacity 333ms cubic-bezier(.4,0,.22,1);
  transition: opacity 333ms cubic-bezier(.4,0,.22,1);
}


