<div class="gallery-wrapper">

  <div class="gallery-scroller">
    <header *ngIf="gallery !== undefined" class="intro inner">
      <h1 class="prettify">{{gallery.title}}</h1>
      <p>{{gallery.description}}</p>
      <a *ngIf="gallery.link" class="btn" href="{{gallery.link}}" target="_blank">Prints Available</a>
    </header>
    
    <!-- Galley wrapper that contains all items -->
    <!-- add this if adding back album classes [ngClass]="[ gallery.title ? gallery.title : '', album ? album : '']" -->
    <div class="inner">
      <ul *ngIf="gallery !== undefined"
          id="gallery"
          class="gallery"
          [ngClass]="[ gallery.title ? gallery.title : '']"
          itemscope
          itemtype="http://schema.org/ImageGallery">
        <!-- Use figure for a more semantic html -->

        <li class="slide_thumbs"
            *ngFor="let slide of coverSlides;">
          <div *ngIf="slide.album === '' || album === slide.album">
            <figure itemprop="associatedMedia"
                    itemscope
                    itemtype="http://schema.org/ImageObject">
              <!-- Link to the big image, not mandatory, but useful when there is no JS -->
              <div (click)="openGallery(slide)">
                <!-- Thumbnail -->
                <img [src]="slide.src"
                    itemprop="thumbnail"
                    [alt]="slide.title"
                    [width]="slide.w * .9"
                    [height]="slide.h * .9">
              </div>
            </figure>
          </div>
        </li>
      </ul>
      <div class="btn_holder">
        <button class="backToTop"> <img src="/assets/images/icons/ico-arrowUp.svg" alt="Back to Top" class="ico"/> Back to Top</button>
      </div>
    </div>
    
    <!-- Some spacing -->
    <div class="spacer"></div>
    <app-footer></app-footer>
  </div>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div theme="dark"
     class="pswp-overlay">
  <div class="pswp"
       tabindex="-1"
       role="dialog"
       aria-hidden="true"
       #photoSwipe>

    <!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

      <!-- Container that holds slides. PhotoSwipe keeps only 3 of them in the DOM to save memory. Don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">

          <!--  Controls are self-explanatory. Order can be changed. -->
          <div class="pswp__counter"></div>

          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

          <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
          <!-- element will get class pswp__preloader--active when preloader is running -->
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>

        <button class="pswp__button pswp__button--arrow--left"
                title="Previous (arrow left)"></button>

        <button class="pswp__button pswp__button--arrow--right"
                title="Next (arrow right)"></button>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>
</div><!---end photoswipe-->
