footer {
  padding: 20px 0;
  .inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    font-size: 12px;
    #backToTop{
      cursor: pointer;
    }
    .copyright{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      justify-items: center;
      li{
        margin-left:12px;
        .ico{
          width: 12px;
        }
        .socialIco{
          width: 20px;
        }
        .ico, .socialIco{
          height: auto;
        }
        a:hover{
          opacity: .7;
        }
      }
    }
  }
}