<div class="navWrapper">
  <nav class="inner">
    <a class="logo" routerLink="/" >
      <h1>M</h1>
     
    </a>
    <button class="toggle noStyle"><img src="/assets/images/icons/ico-mobileMenu.svg" alt="menu" width="30" height="30"></button>
  <!-- menu -->
  <ul id="navMenu" class="menu">
    <li class="close">
      <button class="toggle noStyle"><img src="/assets/images/icons/ico-close.svg" alt="menu" width="30" height="30"> </button>  
    </li>
    <li>
      <a routerLink="/" (click)="onClickMe()">Gallery</a>
    </li>
    <li>
      <a routerLink="/about" (click)="onClickMe()">About</a>
    </li>
    <li>
      <a routerLink="/about" [ngx-scroll-to]="'#cv'" (click)="onClickMe()">CV</a>
    </li>
    <li>
      <a class="typeform-share link" id="nav_open_contactForm" (click)="onClickMe()" href="https://themonarq.typeform.com/to/zsyz1K" data-mode="popup" style="color:#1C1818;text-decoration:underline;font-size:20px;" data-hide-headers=true data-hide-footer=true data-submit-close-delay="5" target="_blank">Contact </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </li>
  </ul>
  </nav>
</div>