<div class="navWrapper">
  <nav class="inner">
    <a class="logo" routerLink="/" >
      <h1>M</h1>
     
    </a>
    <button class="toggle noStyle"><img src="/assets/images/icons/ico-mobileMenu.svg" alt="menu" width="30" height="30"></button>
  <!-- menu -->
  <ul id="navMenu" class="menu">
    <li class="close">
      <button class="toggle noStyle"><img src="/assets/images/icons/ico-close.svg" alt="menu" width="30" height="30"> </button>  
    </li>
    <li>
      <a routerLink="/" (click)="onClickMe()">Gallery</a>
    </li>
    <li>
      <a routerLink="/about" (click)="onClickMe()">About</a>
    </li>
    <li>
      <a routerLink="/about" [ngx-scroll-to]="'#cv'" (click)="onClickMe()">CV</a>
    </li>
    <li>
      <a id="nav_open_contactForm" (click)="onClickMe()">Contact</a>
    </li>
  </ul>
  </nav>
</div>