<div class="wrapper inner">
  <h1>Shop</h1>
  <img class="insta-pic" src="/assets/images/social_pic.jpg" alt="">
  <a href="https://www.instagram.com/themonarq/" target="_blank"><strong>@themonarq</strong></a>
  <ul>
    <li>
      <p>Polaroid prints available, starting at $87</p>
      <a href="https://www.saatchiart.com/themonarq" class="btn dark" target="_blank">Print Shop</a>
    </li>
    <li>
        <p>Artist Porfolio, CV, and Statement</p>  
        <a href="http://themonarq.com" class="btn dark" target="_blank">Portfolio</a>
    </li>
  </ul>
</div>