<div class="wrapper inner">
  <h1>Shop</h1>
  <img class="insta-pic" src="/assets/images/social_pic.jpg" alt="">
  <a href="https://www.instagram.com/themonarq/" target="_blank"><strong>@themonarq</strong></a>
  <ul>
    <!-- <li>
        <p>Abstract light photography on Polaroids</p>
        <a href="https://themonarq.com/gallery/aura" class="btn dark" target="_blank">Aura Series</a>
    </li> -->
    <li>
        <p>Game of Thrones prints available, starting at $15</p>
        <a href="https://www.inprnt.com/collections/themonarq/game-of-thrones/" class="btn dark" target="_blank">INPRNT Shop</a>
    </li>
    <li>
      <p>Polaroid prints available, starting at $87</p>
      <a href="https://www.saatchiart.com/themonarq" class="btn dark" target="_blank">Print Shop</a>
    </li>
    <li>
      <p>Artist Porfolio, CV, and Statement</p>  
      <a href="https://themonarq.com" class="btn dark" target="_blank">Portfolio</a>
    </li>
  </ul>
</div>