<header class="intro inner">
    <p>
        Sabella is an artist, designer, and writer from Chicago now living in Seattle. She creates under the moniker <strong>“the monarq”</strong> which is a multidisciplinary art practice. Her move to the Pacific Northwest led to a reexamination of the factors that shaped her identity. New geography and culture sparked new ways of looking—at both external and internal landscapes. Her practice is an attempt to answer pressing questions: How do you make a home after leaving home behind? How do you integrate the past into potential futures? Channeling these concerns through photography, collage, pattern making, and portraiture, she has developed a multidisciplinary body of work that engages this fundamental yet elusive concept of selfhood.
    </p>
    <p>
        For inquiries and questions email: <a class="text-link" href="mailto:hello@themonarq.com"> <b>hello@themonarq.com</b></a> or use the contact form.
    </p>
    <p> 
      <a class="btn" href="/assets/artist_statement_the_monarq.pdf" target="_blank"><img src="/assets/images/icons/ico-dl.svg" alt="download" class="ico"/> Full Artist Statement</a> 
      <a class="typeform-share link btn" href="https://themonarq.typeform.com/to/zsyz1K" data-mode="popup" style="color:#1C1818;text-decoration:underline;font-size:20px;" data-hide-headers=true data-hide-footer=true data-submit-close-delay="5" target="_blank"> <img src="/assets/images/icons/ico-send.svg" alt="send" class="ico"/> Contact </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

    </p>
</header>
<div class="content cv" id="cv">
  <div class="inner">
    <h1>CV</h1>
    <h3>Education</h3>
    <span class="date">2012</span>
    <span class="event">Lithography Workshop, Printmakers Collaborative, Chicago, IL</span>
    <span class="date">2011</span>
    <span class="event">Screenprint Intensive, Lillstreet Art, Chicago, IL</span>
    <span class="date">2009</span>
    <span class="event">
      BFA, Graphic Design, Drake University, Des Moines, IA <br>
      Concentration: Lithographic Printmaking <br>
      Minor: English Writing
    </span>

    <h3>Selected Exhibitions</h3>
    <span class="date">2019</span>
    <span class="event">Group exhibition,<i>“Make me a World"</i>, 21st Annual Iowa African American Festival,
      Des Moines, IA</span>
    <span class="date">2018</span>
    <span class="event">Group exhibition, <i>“Our Town: Reclaiming the Narrative”</i>, Anderson Gallery,
      Des Moines, IA <br>
      Group exhibition, <i>“Cabinet of Curiosities”</i>, Union Street Gallery, Chicago, IL <br>
      Group exhibition, <i>“Open Source”</i>, LACDA, Los Angeles, CA <br>
      Solo exhibition, Cafe Ladro, Seattle, Wa
    </span>
    <span class="date">2009</span>
    <span class="event">Group exhibition, <i>“Hair Down to There”</i>, Koehline Art Museum, Chicago, IL</span>
    <span class="date">2008</span>
    <span class="event">Group exhibition, <i>“Light Up”</i> Shijiazhuang, P. R. China</span>

    <h3>Collections</h3>
    <span class="collectionList">
      Private collections, Chicago, IL <br>
      Private collections, Seattle, WA <br>
      Private collections, Des Moines, IA
    </span>
    <a class="btn" href="/assets/CV_the_monarq.pdf" target="_blank"><img src="/assets/images/icons/ico-dl.svg" alt="download" class="ico"/> Download CV</a>
  </div>
</div>

<app-footer></app-footer>   