header{
	position: relative;
	height: 60vh;
	.inner{
		background: url('https://picsum.photos/200/200/?random') center right no-repeat 75%;
		h1{
			color:#4a5365;
		}
	}
}



// display: grid;
// border:1px solid #000;
// grid-gap: 10px;
// 	grid-template-columns: repeat(auto-fill, minmax(30%,1fr) minmax(70%,2fr));

.content{
    background-color:#dde1e6;
    color: #4a5365;
    h1{
        color: #ffffff;
	}
	.cv{
		display: grid;
		// grid-template-columns: repeat(auto-fill);
		// grid-template-columns: 30%  70%;
		grid-template-columns: repeat(auto-fill, minmax(30%) minmax(70%));
		grid-template-areas: 
			"title title" 
			"date event"
			"collections collections"
			"collectionList collectionList";
		.title {
			grid-area: title;
		}
		.date {
			grid-area: date;
		}
		.event {
			grid-area: event;
		}
		.collections{
			grid-area: collections;
		}
		.collectionList{
			grid-area: collectionList;
		}
	}
}
.socialLinks {
  grid-area: socialLinks;
//   background-color: #fed330;
  padding: 20px;
  grid-template-rows: 100px 1fr;
}
.bio {
  grid-area: bio;
//   background-color: #20bf6b;
  padding: 20px;
}
aside {
  grid-area: sidebar;
//   background-color: #45aaf2;
  
}
footer {
  padding: 20px;
  grid-area: footer;
//   background-color: #fd9644;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "bio sidebar"   
    "bio socialLinks" 
    "footer footer";
}

// .inner{
//   height: 100%;
//   .bioImage, h1{
//       position: absolute;
//       top: calc(50% - 40px);
//       left: 50%;
//       margin-right: -50%;
//       transform: translate(-50%, -50%)
//   }
//   .bioImage{
//       border-radius: 50%;
//       margin: 0 auto;
//       display: block;
//       z-index: 1;
//       max-width: 300px;
//       width: 100%;
//   }