header {
  position: relative;
  height: 60vh;
  background: url("https://picsum.photos/200/200/?random") center right no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-top: 0;
  // padding-top: 0;
  p{
    max-width: 690px;
    // padding: 0;
    // margin: 0;
  }
}

.content.cv {
  //background-color: #dde1e6;
  background-color: #eae4e4;
  // color: #4a5365;
  h1 {
    color: #ffffff;
  }
  .inner{
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    justify-content: flex-start;
    padding-bottom: 30px;
    a.btn{
      margin-top: 45px;
    }
    h1, h3, .collectionList {
      flex: 1 100%;
    }
    .date {
      flex: 1 20%;
    }
    .event {
      flex: 2 80%;
    }
  }
}

// @media only screen and (min-width: 1080px) {
//   header{
//     height: 60vh;
//   }
// }