header{
    position: relative;
    .inner{
        height: 100%;
        .bioImage, h1{
            position: absolute;
            top: calc(50% - 40px);
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
        .bioImage{
            border-radius: 50%;
            margin: 0 auto;
            display: block;
            z-index: 1;
            max-width: 300px;
            width: 100%;
        }
        h1{
            z-index: 2;
            // top:0%;
            color:#4a5365;
        }
    }
}
header{
    height: 60vh;
}
.content{
    background-color:#dde1e6;
    color: #4a5365;
    h1{
        color: #ffffff;
    }
}
.socialLinks {
  grid-area: socialLinks;
//   background-color: #fed330;
  padding: 20px;
  grid-template-rows: 100px 1fr;
}
.bio {
  grid-area: bio;
//   background-color: #20bf6b;
  padding: 20px;
}
aside {
  grid-area: sidebar;
//   background-color: #45aaf2;
  
}
footer {
  padding: 20px;
  grid-area: footer;
//   background-color: #fd9644;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "bio sidebar"   
    "bio socialLinks" 
    "footer footer";
}

