<div class="wrapper">
    change layout to be
    <br>    
    circle bio pick
    <br>
    bio side by side with cv link to pdf social links
    <br>
    include cv at bottom?
    
    <div class="bio">
        <h1>Welcome</h1>
        <p>“Since then, there has been considerable improvement. However, although women artists are now being exhibited more, their work is still not valued to the extent of the male artists’. We are still a psychological and cultural distance away from recognizing and valuing them.”</p>

        <p>Earlier this year, Culture Type exhibition listings in the spring and summer included just a few shows devoted to black female artists. Far from exhaustive, the roundups were representative of the exhibitions on view at the time. Echoing Weems, “there has been considerable improvement” this fall, the season when art institutions generally present their marquee shows. But, as the artist’s comments also indicate, any sense of parity remains elusive.</p>
                
        <p> This selection of fall 2015 exhibitions features artists spanning three generations and represents many “firsts,” including “Dead Treez” at the Museum of Arts and Design, Ebony G. Patterson‘s first monographic museum show in New York (shown above):</p>
    </div>
    <div class="socialLinks">links</div>
    <aside>
        <img src="https://picsum.photos/200/300/?random" alt="">
    </aside>
    <footer>Footer</footer>
  </div>