<header>
  <div class="inner">
    <!-- <h1>the monarq</h1>    -->
    <p>
      Chicago born and Seattle based artist and designer Sabella’s move to Pacific Northwest led to a reexamination of the factors that shaped her identity. New geography and culture sparked new ways of looking—at both external and internal landscapes. Her practice is an attempt to answer pressing questions: How do you make a home after leaving home behind? How do you integrate the past into potential futures? Channeling these concerns through photography, collage, pattern making, and portraiture, she has developed a multidisciplinary body of work that engages this fundamental yet elusive concept of selfhood.
    </p>
    <button>Full artist statement</button>
    <!-- <img src="https://picsum.photos/200/200/?random" alt="" class="bioImage"> -->
  </div>
</header>
<div class="content">
  <div class="inner">
    link effect https://codepen.io/rickzanutta/pen/nHftC
    <br>
    angular fragment hrefs https://codecraft.tv/courses/angular/routing/navigation/ <br>
    https://www.bennadel.com/blog/3402-creating-a-jump-to-anchor-fragment-polyfill-in-angular-5-2-0.htm <br>
    https://angular.io/guide/router#fragment <br>
    http://www.ivettecabrera.com/cvpublications1/ <br>
    use typeform for contact form
    <div class="cv">
      <h1>CV</h1>
      <button>dl cv</button>
      <h3>Education</h3>
      <span class="date">2012</span>
      <span class="event">Lithography Workshop, Printmakers Collaborative, Chicago, IL</span>
      <span class="date">2011</span>
      <span class="event">Screenprint Intensive, Lillstreet Art, Chicago, IL</span>
      <span class="date">2009</span>
      <span class="event">
				BFA, Graphic Design, Drake University, Des Moines, IA <br>
				Concentration: Lithographic Printmaking <br>
				Minor: English Writing
			</span>

      <h3>Selected Exhibitions</h3>
      <span class="date">2019</span>
      <span class="event">Group exhibition,<i>“Make me a World"</i>, 21st Annual Iowa African American Festival,
				Des Moines, IA</span>
      <span class="date">2018</span>
      <span class="event">Group exhibition, <i>“Our Town: Reclaiming the Narrative”</i>, Anderson Gallery,
				Des Moines, IA <br>
				Group exhibition, <i>“Cabinet of Curiosities”</i>, Union Street Gallery, Chicago, IL <br>
				Group exhibition, <i>“Open Source”</i>, LACDA, Los Angeles, CA <br>
				Solo exhibition, Cafe Ladro, Seattle, Wa
			</span>
      <span class="date">2009</span>
      <span class="event">Group exhibition, <i>“Hair Down to There”</i>, Koehline Art Museum, Chicago, IL</span>
      <span class="date">2008</span>
      <span class="event">Group exhibition, <i>“Light Up”</i> Shijiazhuang, P. R. China</span>

      <h3>Collections</h3>
      <span class="collectionList">
				Private collections, Chicago, IL <br>
				Private collections, Seattle, WA <br>
				Private collections, Des Moines, IA
			</span>
    </div>
  </div>
</div>


<!-- <div class="bio">
    <h1>Welcome</h1>
    <p>“Since then, there has been considerable improvement. However, although women artists are now being exhibited more, their work is still not valued to the extent of the male artists’. We are still a psychological and cultural distance away from recognizing and valuing them.”</p>

    <p>Earlier this year, Culture Type exhibition listings in the spring and summer included just a few shows devoted to black female artists. Far from exhaustive, the roundups were representative of the exhibitions on view at the time. Echoing Weems, “there has been considerable improvement” this fall, the season when art institutions generally present their marquee shows. But, as the artist’s comments also indicate, any sense of parity remains elusive.</p>
        
    <p> This selection of fall 2015 exhibitions features artists spanning three generations and represents many “firsts,” including “Dead Treez” at the Museum of Arts and Design, Ebony G. Patterson‘s first monographic museum show in New York (shown above):</p>
</div> -->

