header {
  position: relative;
  height: 60vh;

  .inner {
    background: url("https://picsum.photos/200/200/?random") center right no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
    h1 {
      color: #4a5365;
    }
  }
}

.content {
  background-color: #dde1e6;
  color: #4a5365;

  h1 {
    color: #ffffff;
  }

  .cv {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;

    h1, h3, .collectionList {
      flex: 1 100%;
    }

    .date {
      flex: 1 20%;
    }

    .event {
      flex: 2 80%;
    }
  }
}
