
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  font-size: 1.7em;
}

li, a{
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.galleries {
  position: relative;
  display: flex;
  flex-direction: column;
  ul {
    display: -ms-grid;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 160px;
    padding: 0;
    list-style: none;
    margin-bottom: 60px;
    li{
      overflow-y: hidden;
      background-repeat: no-repeat;
      transform-style: preserve-3d;
      background-position: top center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &:hover {
        background-position: bottom center;
      }
      &.fractures{
        background-image: url('/assets/images/thumbs/thumb_fractures.png');
      }
      &.portraits{
        background-image: url('/assets/images/thumbs/thumb_portraits.png');
      }
      &.texture-on-polaroid{
        background-image: url("/assets/images/thumbs/thumb_texture_on_polaroid.png");
      }
      &.aura{
        background-image: url("/assets/images/thumbs/thumb_aura.png");
      }
      &.verdant{
        background-image: url("/assets/images/thumbs/thumb_verdant.png");
      }
      a{
        font-weight: 600;
        letter-spacing:.06em;
        text-align: center;
        font-size: 1.2em;
        display: flex;
        flex: 1 0 12em;
        align-items: center;
        justify-content: center;
        background-color:rgba(255, 255, 255, 0.65);
        &:hover{
          background-color:rgba(255, 255, 255, 0);
        }
      }
    }
  }
}

@media only screen and (min-width: 1080px) {
  header{
    min-height: 250px;
  }
}