.tile{	
	display: block;
	width: 300px;
	height: 300px;
	background: -webkit-linear-gradient(135deg, #ff00ba 0%, #fae713 100%);
	background: linear-gradient(135deg, #ff00ba 0%, #fae713 100%);
	box-shadow: 0 3px 47px rgba(0, 0, 0, 0.2);
	transform-style: preserve-3d;
	position: relative;
	.inner{		
		display: block;
		width: 200px;
		height: 40px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateZ(20px) translateX(-50%) translateY(-50%);
		background: transparent;
		text-align: center;
		font-size: 40px;
		line-height: 40px;
		text-shadow: 0px 0px 20px rgba(0,0,0,0.3);
		color: white;
	}
}

header h1{
  text-align: center;
}

.galleries{
	position: relative;
	display: flex;
	flex-direction: column;
	.row{
		display: flex;
		flex: 1 1 auto;
		justify-content: center;
		align-items: center;
		height: 60vh;

		margin-bottom: 10px;
		.desc{
			text-align: center;
			text-decoration: none;
			color: #222;
			display: flex;
			flex:1;
			background-image: url('src/assets/images/thumbs/thumb_fractures.jpg');
			background-size: 350px 350px;
			background-position: center;
			background-repeat: no-repeat;
			// flex: 1 1 auto;
			flex-direction: column;
			justify-content: center;
			// align-items: center;
			height: 100%;
			h1{
				margin: 0;
				font-family: 'salomeregular', Georgia, Serif;
			}
			p{
				font-size: 1.5rem;
			}
		}
  	}
}


.gallery{
	background-size: cover;
	  .gallery_img{
		width: 100%;
		height: 100%;
	}
}
.gallery-link:hover {
  	cursor: pointer;
}


@media only screen and (min-width:960px){
	.galleries {
		.row{
			height: 90vh;
			.desc{
				flex: none;
				// background-color: pink;
				height: auto;
				// flex:1;
			}
		}
	}
}



