<header class="intro inner" >
  <h1>the monarq</h1>
    <p>is a multidisciplinary artist and designer from Chicago now based in Seattle.</p>
    <!-- <p>I create under the moniker “the monarq” which is a multidisciplinary practice with a focus on analog photography, pattern making, and illustration. </p> -->
</header>

<div *ngIf="galleries" class="galleries inner">
  <ul>
    <ng-container *ngFor="let gallery of galleries;">
      <li class="js-tilt" [ngClass]="[ gallery.title ]" data-tilt>
        <a class="desc prettify" [routerLink]="['/gallery', gallery.title]">
          <p>{{gallery.title}}</p>
        </a>
      </li>
    </ng-container>
  </ul>
</div>


<ul>
  <li>
    todo list:
  </li>
  <li>
    need min heights on percentage divs
  </li>
  <li>
    <del>fix w/h of link to galleries from home for desktop and mobile</del>
  </li>
  <li>
    <del> add tilt.js to home</del>
  </li>
  <li>
      https://www.youtube.com/watch?v=KRV9jZwl0Ig&list=PLC3y8-rFHvwhBRAgFinJR8KHIrCdTkZcZ&index=26
  </li>
  <li>
    <del>fix routes to galleries to huse ng-href https://angular.io/guide/ajs-quick-reference#ng-href</del>
  </li>
  <li>
    build server error pages, 404 etc
  </li>
  <li>
    page transitions
  </li>
  <li>
    - shape overlays example in dls
  </li>
  <li>
    - mobile menu
  </li>
  <li>
   <del> - style galleries</del>
  </li>
  <li>
    <del>- contact form</del>
  </li>
  <li>
    <del> - about page design with cv</del>
  </li>
</ul>
<app-footer></app-footer>   