<header>
	<div class="row inner" data-color="intro">
			<h3>lorem ipsum boilerplate text intro</h3>
			<ul>
				<li>
					todo list:
				</li>
				<li>
						<del>fix w/h of link to galleries from home for desktop and mobile</del>
				</li>
				<li> <del> add tilt.js to home</del></li>
				<li>
						<del>fix routes to galleries to huse ng-href https://angular.io/guide/ajs-quick-reference#ng-href</del>
				</li>
				<li>
					build server error pages, 404 etc
				</li>
				<li>
					page transitions
				</li>
				<li>
					- shape overlays example in dls
				</li>
				<li>
					- mobile menu
				</li>
				<li>
					- style galleries
				</li>
				<li>
					- contact form
				</li>
				<li>
					- about page design with cv
				</li>
			</ul>
	</div>
</header>

<div *ngIf="galleries" class="galleries">
	<div *ngFor="let gallery of galleries; let i=index; let odd=odd; let even=even;" class="row" [ngClass]="{ odd: odd, even: even }" attr.data-color="{{gallery.title}}" >
		<div class="galleryPreview js-tilt"  data-tilt>
			<div class="breakout">
				<a class="desc" [routerLink]="['/gallery', gallery.title]">
					<h1 class="gallery-link">{{gallery.title}}</h1>
					<p>description</p>
				</a>			
			</div>
		</div>
	</div>
</div>
