<header>
	<div class="row" data-color="intro">
			<h3>lorem ipsum boilerplate text intro</h3>
			<ul>
				<li>
					todo list:
				</li>
				<li>
					fix w/h of link to galleries from home for desktop and mobile
				</li>
				<li> add tilt.js to home</li>
				<li>
					fix routes to galleries to huse ng-href https://angular.io/guide/ajs-quick-reference#ng-href
				</li>
				<li>
					build server error pages, 404 etc
				</li>
				<li>
					page transitions
				</li>
				<li>
					- shape overlays example in dls
				</li>
				<li>
					- mobile menu
				</li>
				<li>
					- style galleries
				</li>
				<li>
					- contact form
				</li>
				<li>
					- about page design with cv
				</li>
			</ul>
	</div>
</header>

<div *ngIf="galleries" class="galleries">
	<!--<h2>By Title</h2>-->
	<div *ngFor="let gallery of galleries; let i=index; let odd=odd; let even=even;" class="row" [ngClass]="{ odd: odd, even: even }" [routerLink]="['/gallery', gallery.title]"  attr.data-color="{{gallery.title}}">
		<div class="desc" [routerLink]="['/gallery', gallery.title]">
            <h1 class="gallery-link">{{gallery.title | uppercase}}</h1>
            <p>description</p>
        </div>
	</div>
</div>

<!-- <div *ngFor= "let gallery of galleries" [routerLink]="['/gallery', gallery.id]"></div>
	<h1>{{gallery.title | uppercase}}</h1>

</div> -->

<!-- <div *ngIf="gallery">
		{{gallery.title | uppercase}}
</div> -->

<!-- <div *ngFor="let gallery of galleries" [routerLink]="['/gallery', gallery.id]"> 
	{{gallery.title | uppercase}}
</div> -->

<!-- <div *ngFor= "let gallery of galleries" (click)="onSelect(gallery)">
		<h1>{{gallery.title}}</h1>
	
	</div> -->
	

<!-- <div *ngIf="selectedGallery">
    <h3>Selected Gallery</h3>
     <h2>{{selectedGallery.title}}</h2>
     <h2>{{selectedGallery.description}}</h2>
   </div> -->
 <!-- <app-gallery></app-gallery> -->
<!-- <app-gallery [gallery]="selectedGallery"></app-gallery> -->

