header h1{
  text-align: center;
}

.galleries{
	position: relative;
	display: flex;
	flex-direction: column;
	.row{
		display: flex;
		flex: 1 1 auto;
		justify-content: center;
		align-items: center;
		height: 60vh;
		background-image: url('src/assets/images/thumbs/thumb_fractures.jpg');
		background-size: 350px 350px;
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 10px;
		.desc{
			text-align: center;
			text-decoration: none;
			color: #222;
			display: flex;
			flex:1;
			// flex: 1 1 auto;
			flex-direction: column;
			justify-content: center;
			// align-items: center;
			height: 100%;
			h1{
				margin: 0;
				font-family: 'salomeregular', Georgia, Serif;
			}
			p{
				font-size: 1.5rem;
			}
		}
  	}
}


.gallery{
	background-size: cover;
	  .gallery_img{
		width: 100%;
		height: 100%;
	}
}
.gallery-link:hover {
  	cursor: pointer;
}


@media only screen and (min-width:960px){
	.galleries {
		.row{
			height: 90vh;
			.desc{
				flex: none;
				// background-color: pink;
				height: auto;
				// flex:1;
			}
		}
	}
}



