@import "assets/css/main.css"; 
@import "assets/css/normalize.css"; 
// @import '../node_modules/photoswipe/dist/photoswipe.css';
// @import '../node_modules/photoswipe/dist/default-skin/default-skin.css';

body{
	font-family: brandon-grotesque,sans-serif;
	font-weight: 400;
	font-style: normal;
}
.wrapper {
  max-width: 1230px;
  margin: 0 auto;
}

header{
	height: 30vh;
	background-color: pink;
}
.flex-start { align-self: flex-start; }
.flex-end { align-self: flex-end; }
.center { align-self: center; }
.baseline { align-self: baseline; }
.stretch { align-self: stretch; }


